In [1]:
import pandas as pd
import numpy as np
import sympy as sp
import string
import math
from collections import OrderedDict

In [2]:
df = pd.read_csv("./SearchForPrimes.csv", header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,Z139,R463,S14,V412,W4,U367,S84,Z139,Z320,Q485,...,X485,U165,U167,U287,R143,Q402,W301,S82,S454,S158
1,R399,Y439,P174,U489,Z24,Y498,Q81,Z9,U465,T223,...,S499,Y342,U423,U447,S149,Q496,P28,V39,T38,X65
2,W67,P434,U491,R351,R102,T239,S214,R12,X188,U497,...,V170,W334,T352,V74,W339,T7,Y110,R368,V487,S183
3,U335,Q259,S295,X344,X498,Q203,S199,T370,Q303,V36,...,R208,X319,Y26,T276,Z313,T334,R353,W323,U122,R409
4,Q84,W204,V202,W280,Z89,Y480,R480,P132,W406,P110,...,U417,S332,Z7,P478,V44,Z308,Y151,Z103,Q205,W6

In [16]:
class char_stats():
    def __init__(self):
        self.count = 0
        self.primes = []
    
    def get_count(self):
        return self.count
    
    def set_count(self, c):
        self.count=c
        
    def get_prime_count(self):
        return len(self.primes)

    def add_prime(self, prime):
        self.primes.append(prime)
        
    def get_avg_prime(self):
        return np.mean(self.primes)
    
    def get_prime_percentage(self):
        return self.get_prime_count() / self.get_count() if self.get_count() > 0 else 0

In [42]:
all_data = df.to_numpy().flatten()

In [45]:
all_data

array(['Z139', 'R463', 'S14', ..., 'Z1887', 'Y981', 'X189'], dtype=object)

In [63]:
all_data[1842]

nan

In [67]:
def run_operation(all_data):
    di = {}
    for let in string.ascii_uppercase:
        di[let] = char_stats()
        
    error_count = 0
    for idx, val in enumerate(all_data):
        if not isinstance(val, str) and math.isnan(val):
            #print(f"blank cell found at index {idx}")
            continue
        try:
            letter = val[0]
            di[letter].set_count(di[letter].get_count()+1)
            num = int(val[1:])
            if sp.isprime(num):
                di[letter].add_prime(num)
        except ValueError:
            print(f"value error found at index {idx}: {val}")
            error_count+=1
        except KeyError:
            print(f"key error found at index {idx}: {val}")
            error_count+=1
    return di, error_count

In [68]:
di, error_count = run_operation(all_data)

value error found at index 99788: AA
value error found at index 99789: AA
value error found at index 99851: AA
value error found at index 99941: AA
key error found at index 220722: 12345
key error found at index 220753: 54362
key error found at index 220784: 3542
key error found at index 220815: 3547
key error found at index 231515: "Error Cell"
key error found at index 231638: "Error Cell"

In [99]:
def print_counts(di):
    for key in di.keys():
        print(f"""key: {key}, count: {di[key].get_count()}, prime_count: {di[key].get_prime_count()}, avg prime: {di[key].get_avg_prime()}, prime percentage: {di[key].get_prime_percentage()}""")

In [113]:
def rank_counts(di):
    ordered = sorted(di.items(), key=lambda x: x[1].get_count(), reverse=True)
    keys = [item[0] for item in ordered]
    vals = [item[1].get_count() for item in ordered]
    return OrderedDict(zip(keys,vals))

In [115]:
def rank_prime_counts(di):
    ordered = sorted(di.items(), key=lambda x: x[1].get_prime_count(), reverse=True)
    keys = [item[0] for item in ordered]
    vals = [item[1].get_prime_count() for item in ordered]
    return OrderedDict(zip(keys,vals))

In [95]:
def rank_avg_prime(di):
    ordered = sorted(di.items(), key=lambda x: x[1].get_avg_prime() if not math.isnan(x[1].get_avg_prime()) else 0, reverse=True)
    keys = [item[0] for item in ordered]
    vals = [item[1].get_avg_prime() for item in ordered]
    return OrderedDict(zip(keys,vals))

In [98]:
def rank_prime_percentage(di):
    ordered = sorted(di.items(), key=lambda x: x[1].get_prime_percentage(), reverse=True)
    keys = [item[0] for item in ordered]
    vals = [item[1].get_prime_percentage() for item in ordered]
    return OrderedDict(zip(keys,vals))

In [100]:
print_counts(di)

key: A, count: 4, prime_count: 0, avg prime: nan, prime percentage: 0.0
key: B, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: C, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: D, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: E, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: F, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: G, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: H, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: I, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: J, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: K, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: L, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: M, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: N, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: O, count: 0, prime_count: 0, avg prime: nan, prime percentage: 0
key: P, count: 68029, prime_count: 13028, avg prime: 225.87404052809333, prime percentage: 0.19150656337738317
key: Q, count: 68001, prime_count: 12548, avg prime: 224.8744819891616, prime percentage: 0.1845266981367921
key: R, count: 68337, prime_count: 13206, avg prime: 225.7061184310162, prime percentage: 0.19324816717151763
key: S, count: 67777, prime_count: 12752, avg prime: 226.21118255959848, prime percentage: 0.18814642135237616
key: T, count: 67761, prime_count: 12803, avg prime: 227.6628915098024, prime percentage: 0.18894349256947213
key: U, count: 68568, prime_count: 12950, avg prime: 224.78718146718145, prime percentage: 0.18886360984715903
key: V, count: 68295, prime_count: 12987, avg prime: 228.5959035959036, prime percentage: 0.19016033384581593
key: W, count: 81711, prime_count: 15409, avg prime: 262.36303459017455, prime percentage: 0.18857926105420322
key: X, count: 113701, prime_count: 19767, avg prime: 522.2939748064957, prime percentage: 0.17385071371403946
key: Y, count: 113756, prime_count: 19940, avg prime: 523.5573219658977, prime percentage: 0.17528745736488624
key: Z, count: 113849, prime_count: 19667, avg prime: 522.0573549600854, prime percentage: 0.17274635701675026

In [108]:
od = rank_avg_prime(di)
list(od.items())[0]

('Y', 523.5573219658977)

In [102]:
rank_prime_percentage(di)

OrderedDict([('R', 0.19324816717151763),
             ('P', 0.19150656337738317),
             ('V', 0.19016033384581593),
             ('T', 0.18894349256947213),
             ('U', 0.18886360984715903),
             ('W', 0.18857926105420322),
             ('S', 0.18814642135237616),
             ('Q', 0.1845266981367921),
             ('Y', 0.17528745736488624),
             ('X', 0.17385071371403946),
             ('Z', 0.17274635701675026),
             ('A', 0.0),
             ('B', 0),
             ('C', 0),
             ('D', 0),
             ('E', 0),
             ('F', 0),
             ('G', 0),
             ('H', 0),
             ('I', 0),
             ('J', 0),
             ('K', 0),
             ('L', 0),
             ('M', 0),
             ('N', 0),
             ('O', 0)])